.actions {
  display: flex;
  margin-bottom: 1rem;
  background: rgba(197, 215, 141, 0.5);
  padding: 1rem;
  border-radius: 3px;
}

.form {
  h1 {
    font-size: 2rem;
  }
}

.formGroup {
  margin: 1rem 0;
}